<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PhD Admissions Portal | IIT(BHU) Varanasi</title>

    <!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

       <div class="container">
  <div class="row">
      <div class="col-sm-3"><img src="/static/images/logo.jpg" style="height: 150px;width: 150px;left-margin: 70px" align="right" class="img-responsive"/></div>
      <div class="col-sm-9"><img src="/static/images/emblem.jpg" style="height: 150px;width: auto;" align="left" class="img-responsive"/></div>
  </div>
      </div>
<div>
    <h1 align="center">PhD Admissions Portal</h1>
</div>
    </header><!--/header-->
<h1>Registration Form</h1>{% if user.is_authenticated %} {{ message }} <p>Click Here to <a href="/register/logout/" >Logout</a></p>
{% endif %}
    <form action="/register/login/" method="POST" enctype="multipart/form-data" class="form-inline" role="form">{% csrf_token %}
        <label for="username">Username :</label>
        <div class="form-group"><input type="text" name="username"/>     </div>
        <label for="password">Password :</label>
        <div class="form-group"><input type="password" name="password"/>     </div>

    <input type="submit"> </form>
<a href="/register/change_password/">Forgot Password?</a>
</body>
</html>