<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PhD Admissions Portal | IIT(BHU) Varanasi</title>

    <!-- core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/prettyPhoto.css" rel="stylesheet">
    <link href="/static/css/animate.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">

       <div class="container">
  <div class="row">
      <div class="col-sm-4"><img src="/static/images/logo.jpg" style="height: 120px;width: 150px;left-margin: 10px" align="right" class="img-responsive"/></div>
      <div class="col-sm-8"><img src="/static/images/emblem.jpg" style="height: 120px;width: auto;" align="right" class="img-responsive"/></div>
  </div>
      </div>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a target="_blank" href="/static/pdfs/Instructions_PG_PhD_Admission_Portal.pdf">Application Procedure</a></li>
                        <li><a href="services.html">Corrigendum</a></li>

                        <li><a href="/register/login/">LogIn</a></li>
                        <li><a href="/register/change_password/">Forgot Password?</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    <p align="center">Online application portal for admission to PhD in Humanities and Social Sciences for July 2015 semester of the Academic session 2015-16</p>

<div class="container" align="center">
    {% if registered %}
    <div>
        <p>Thank you for registering!<br>Return to <a href="/">login</a> Page </p></div>
    {% else %}
    <form action="/register/" method="POST" name="form1" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <fieldset>
        <legend>Register Here!</legend>


            {{ user_form.name }}
            <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ field.email.name }}" >{{ user_form.email.label }}</label>
        <div class="col-xs-5">
            {{ user_form.email }}
        </div>
        </div>
            <div class="form-group">
            <label class="control-label col-sm-2" for="id_{{ user_form.password.label }}" >{{ user_form.password.label }}</label>
        <div class="col-xs-5">
            {{ user_form.password }}
        </div>
        </div>
        <div class="form-group">
        <label for="full_name" class="control-label col-sm-2">Full Name :</label>
            <div class="col-xs-5">
        <input type="text" name="full_name" class="form-control" value="{{ form_data.full_name }}" required/>
                </div>
            </div>
        <div class="form-group">
        <label for="mother_name" class="control-label col-sm-2">Mother's Name :</label>
            <div class="col-xs-5">
        <input type="text" name="mother_name" class="form-control" value="{{ form_data.mother_name }}" required/>
                </div>
            </div>
        <div class="form-group">
        <label for="father_name" class="control-label col-sm-2">Father's Name :</label>
                <div class="col-xs-5">
        <input type="text" name="father_name" class="form-control" value="{{ form_data.father_name }}" required/>
                    </div>
            </div>
        <div class="form-group">
        <label for="dob" class="control-label col-sm-2" id="rdob">Date of Birth :</label>
                    <div class="col-xs-2">
        <input type="date" name="dob" class="form-control" value="{{ form_data.dob }}"  required/>
                        </div>
            </div>
        <div class="form-group">
        <label for="gender" class="control-label col-sm-2">Full Name :</label>
                        <div class="col-xs-2">
        <select name="gender" class="form-control" required>
            {% if form_data.gender == "M" %}
            <option value="M" selected="selected">Male</option>
            <option value="F">Female</option>
            {% else %}
            <option value="M">Male</option>
            <option value="F" selected="selected">Female</option>
            {% endif %}
        </select>
                            </div>
            </div>

        <div class="form-group">
        <label for="nation" class="control-label col-sm-2">Nationality :</label>
                            <div class="col-xs-2">
        <select name="nation" class="form-control" required>
            {% if form_data.nation == "Indian" %}
            <option value="Foreign" selected>Foreign</option>
            <option value="Indian">Indian</option>
            {% else %}
            <option value="Foreign">Foreign</option>
            <option value="Indian" selected>Indian</option>
            {% endif %}
        </select>
                                </div>


        <label for="category" class="control-label col-sm-2">Category :</label>
                                <div class="col-xs-2">
        <select name="category" class="form-control" required>
            {% if from_data.category == "GEN" %}
            <option value="GEN" selected="selected">General</option>
            <option value="OBC">OBC</option>
            <option value="SC">SC</option>
            <option value="ST">ST</option>
            {% endif %}
            {% if form_data.category == "OBC" %}
            <option value="GEN">General</option>
            <option value="OBC" selected="selected">OBC</option>
            <option value="SC">SC</option>
            <option value="ST">ST</option>
            {% endif %}
            {% if form_data.category == "SC" %}
            <option value="GEN">General</option>
            <option value="OBC">OBC</option>
            <option value="SC" selected="selected">SC</option>
            <option value="ST">ST</option>
            {% endif %}
            {% if form_data.category == "ST" %}
            <option value="GEN">General</option>
            <option value="OBC">OBC</option>
            <option value="SC">SC</option>
            <option value="ST" selected="selected">ST</option>
            {% else %}
             <option value="GEN" selected="selected">General</option>
            <option value="OBC">OBC</option>
            <option value="SC">SC</option>
            <option value="ST" >ST</option>
            {% endif %}
        </select>
                                    </div>
</div>
        <div class="form-group">
        <label for="phys" class="control-label col-sm-2">Are you Physically Disabled? :</label>
                                    <div class="col-xs-5">
        {% if form_data.phys == "Y" %}
        <input type="radio" name="phys" value="Y" checked required/>Yes
        <input type="radio" name="phys" value="N" required/>No
        {% else %}
        <input type="radio" name="phys" value="Y" required/>Yes
        <input type="radio" name="phys" value="N" checked required/>No
        {% endif %}
                                        </div>
            </div>
        <div class="form-group">
        <label for="mobile" class="control-label col-sm-2">Mobile: </label>
                                        <div class="col-xs-3">
        <input type="text" name="mobile" class="form-control" id = "mobile" value="{{ form_data.mobile }}" onkeydown="allnumericplusminus(document.form1.mobile)" required/>
                                            </div>
            </div>
        <div class="form-group">
        <label for="perma_addr" class="control-label col-sm-2">Permanent Address : </label>
                                            <div class="col-xs-3">
        <textarea name="perma_addr" rows="5" cols="30" id="perma_addr" class="form-control" required>{{ form_data.perma_addr }}</textarea>
                                                </div>
            </div>

        <input type="checkbox" align="center" id="checker" onclick="fcheck()" value="ok"/>Check this if both addresses are same
<div class="form-group">
        <label for="corres_addr" class="control-label col-sm-2">Correspondence Address : </label>
                                                <div class="col-xs-3">
        <textarea name="corres_addr" rows="5" cols="30" id="corres_addr" class="form-control" required>{{ form_data.corres_addr }}</textarea>
                                                    </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

    <button name="submit" class="btn btn-default" value="submit" onclick="check()"/>Submit</button>
                </div>
    </div>
    </div>
    </fieldset>
         </form>
    </div>
   {% endif %}
    Already Registered ?  <a href="/register/login/">LogIn</a>
    </div>
<script src="/static/js/newone.js"></script>
<script src="/static/js/news.js"></script>

</body>
</html>